{{define "import"}}import {{.}} from '../models/{{.}}'{{end -}}
{{define "arraytype"}}{{.Type | GetMappedType}}[]{{end -}}
{{define "dictionarytype"}}{[key in string]: {{.Type | GetMappedType}}}{{end -}}
{{define "type"}}{{if .IsArrayOfType}}{{template "arraytype" .}}{{else}}{{if .IsDictionaryOfType}}{{template "dictionarytype" .}}{{else}}{{.Type | GetMappedType}}{{end}}{{end}}{{end -}}
{{define "nullable"}}{{if .Nullable}}?{{end}}{{end -}}
{{define "parameter"}}{{.Name}}{{template "nullable" .}}{{end -}}
{{define "parameterwithtype"}}{{template "parameter" .}}: {{template "type" .}}{{end -}}
{{define "enumitem"}}{{.Name}} = {{.Value}}{{end -}}

{{range $import := .Imports}}{{template "import" $import}}
{{end}}
{{if .IsEnum -}}
enum {{.Name}} {
    {{- range $index, $item := .EnumItems}}{{if $index }},{{end}}
    {{template "enumitem" $item}}
    {{- end}}
}

export default {{.Name -}}
{{else -}}
export default interface {{.Name}} {
    {{- range $index, $parameter := .Properties}}
    {{template "parameterwithtype" $parameter}}
    {{- end}}
}
{{- end}}